<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001</string>
				<key>intro</key>
				<string>好吧！</string>
				<key>name</key>
				<string>风的季节</string>
				<key>vip</key>
				<integer>1</integer>
				<key>timer</key>
				<string>16:00</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>002</string>
				<key>intro</key>
				<string>我天天连给家人打电话的时间都没有</string>
				<key>name</key>
				<string>进行冒险</string>
				<key>vip</key>
				<integer>1</integer>
				<key>timer</key>
				<string>15:30</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>003</string>
				<key>intro</key>
				<string>今天吃饭了吗？</string>
				<key>name</key>
				<string>迷失的灵魂</string>
				<key>vip</key>
				<integer>1</integer>
				<key>timer</key>
				<string>15:20</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>004</string>
				<key>intro</key>
				<string>都不出来聊聊，感情都变淡了</string>
				<key>name</key>
				<string>让心静一静</string>
				<key>vip</key>
				<integer>1</integer>
				<key>timer</key>
				<string>14:20</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>005</string>
				<key>intro</key>
				<string>听说马上又有科五了</string>
				<key>name</key>
				<string>JJ</string>
				<key>vip</key>
				<integer>1</integer>
				<key>timer</key>
				<string>14:20</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>006</string>
				<key>intro</key>
				<string>嗯嗯，我真的好想你们，好想我们在一起的时候</string>
				<key>name</key>
				<string>木棉花</string>
				<key>vip</key>
				<integer>0</integer>
				<key>timer</key>
				<string>14:00</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>007</string>
				<key>intro</key>
				<string>中午我看一下</string>
				<key>name</key>
				<string>萌萌哒</string>
				<key>vip</key>
				<integer>0</integer>
				<key>timer</key>
				<string>10:20</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>008</string>
				<key>intro</key>
				<string>是理发师阿双方了哈啥</string>
				<key>name</key>
				<string>黑金刚</string>
				<key>vip</key>
				<integer>1</integer>
				<key>timer</key>
				<string>昨天</string>
			</dict>
		</array>
		<key>name</key>
		<string>消息</string>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001</string>
				<key>intro</key>
				<string>阳光倾城、也温暖不了人心</string>
				<key>name</key>
				<string>风的季节</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002</string>
				<key>intro</key>
				<string>女人只在乎男人对她的态度,其它应该都不重要吧!</string>
				<key>name</key>
				<string>进行冒险</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003</string>
				<key>intro</key>
				<string>时光，浓淡相宜；人心，远近相安。这就是最好的生活。</string>
				<key>name</key>
				<string>迷失的灵魂</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004</string>
				<key>intro</key>
				<string>踏上不归路  </string>
				<key>name</key>
				<string>让心静一静</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005</string>
				<key>intro</key>
				<string>又是一年纠结时~~~完毕、已定</string>
				<key>name</key>
				<string>JJ</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006</string>
				<key>intro</key>
				<string>想要什么就去追求，认清自己能达到怎样的目标，然后拼了命去努力，一步一步，总会到达。</string>
				<key>name</key>
				<string>木棉花</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007</string>
				<key>intro</key>
				<string>流过泪的眼睛才会更明亮，滴过血的心灵才会更坚强。</string>
				<key>name</key>
				<string>萌萌哒</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008</string>
				<key>intro</key>
				<string>岁月催人老</string>
				<key>name</key>
				<string>黑金刚</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
	</dict>
</array>
</plist>
